*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    width: 100%;
    background-color: #333333;
    top: 0;
    height: 44px;
    color: rgba(204, 204, 204);
    position: fixed;
}

.navbar i{
    font-size: 17px;
}

.nav-item-list{
    display: flex;
    font-size: 12px;
    width: 70%;
    margin: auto;
    padding: 12px 12px;
    justify-content: space-evenly;
}

.navbar li{
    list-style: none;
    cursor: pointer;
}

.navbar li:hover{
    color: #fff;
}

.navbar a{
    text-decoration: none;
    color: #FFFAFA;
}

.nav-heading{
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.374px;
    line-height: 20.5883px;
    text-decoration: none solid rgba(29, 29, 31);
    word-spacing: 0px;
    padding: 12px 0 12px 0;
    background-position: 0% 0%;
    color: #1D1D1F;
    padding-top: 55px;
    background-color: #F5F5F7;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #0066cc;
}

a:hover{
    text-decoration: underline;
}

section{
    text-align: center;
    margin: auto;
}

#poster1, #poster2, #poster3{
    background-image: url("./images/img1.jpeg");
    background-size: cover;
    height: 75vh;
    padding-top: 20px;
    background-position: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.p1{
    font-size: 50px;
    font-weight: 550;
}

.p2{
    font-size: 28px;
}

#m1 {
    font-size: 28px;
    /* font-weight: 500; */
    padding-bottom: 10px;
    /* color: black; */
}

.links{
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

#poster2{
    background-image: url("./images/img2.jpeg");
}

#poster2 > .p1{
    font-size: 50px;
    font-weight: 650;
    margin-top: 20px;
    color: #fff;
}

#poster2 > p{
    font-size: 26px;
    color: #E6C7C2;
}

i{
    font-size: 14px;
}

#poster3{
    background-image: url("./images/img3.jpg");
}

#new{
    color: #FF8C00;
    font-size: 15px;
}

#m1, #h1{
    font-size: 40px;
    font-weight: 600;
}

#m2{
    font-size: 20px;
}

#a1{
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
}

#a2{
    font-size: 20px;
}

/* section 2 */

.cards{
    display: flex;
}

.cards .box{
    text-align: center;
    width: 50%;
    height: 78vh;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 20px;
    padding-top: 35px;
    cursor: pointer;
}


#box1{
    background-image: url("./images/img4.jpeg");
}

#box2{
    background-image: url("./images/img5.jpeg");
}

#box3{
    background-image: url("./images/img6.jpg");
}

#box4{
    background-image: url("./images/img7.jpeg");
}

#box5{
    background-image: url("./images/img8.jpg");
}

#box6{
    background-image: url("./images/img9.jpg");
}

#box1{
    color: #fff;
    padding-top: 400px;
}

#box1 h3{
    font-size: 40px;
}

#box1 .p2{
    font-size: 15px;
}

#box4{
    padding-top: 420px;
}

#box6{
    padding-top: 400px;
}
/* footer */

.footer{
    padding: 20px 250px;
    background-color: #F5F5F7;
    color: #868686;
    font-size: 13px;
}

.footer li{
    padding: 4px;
    list-style: none;
}

.info{
    padding-bottom: 20px;
    border-bottom: 1px solid #b4b4b4; 
}

.list_items{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sm_scr{
    display: none;
}

.list_items p{
    line-height: 1.8;
}

.list2, .list4, .list5{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading{
    font-weight: 560;
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.last_row{
    border-top: 1px solid #b4b4b4;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
}

.para{
    padding-bottom: 14px;
    padding-top: 24px;
}

.list_items p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(65, 64, 64);
}

.last_row div{
    color: #555555;
    display: flex;
}

.last_row div > p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(65, 64, 64);
}

.last_row div p{
    padding-right: 10px;
}